# IS 362 â€“ Week 7 Assignment

In [70]:
import pandas as pd
import numpy as np

### 1. Load the ratings by user information that you collected into a pandas dataframe.

In [71]:
movie_rate = pd.read_csv("https://raw.githubusercontent.com/junphp/is362_week7/master/popular_movies.csv",index_col=0)
movie_rate

,American Made,Kingsman: The Golden Circle,The LEGO Ninjago Movie,Flatliners,Blade Runner 2049
Andrew,4.0,5.0,NaN,2,3.0
Brian,2.0,NaN,4.0,3,3.0
Christian,5.0,2.0,2.0,4,NaN
David,NaN,4.0,4.0,3,5.0
Edwin,3.0,3.0,5.0,1,2.0

### 2. Show the average ratings for each user and each movie.

#### Each user

In [72]:
user_average = movie_rate 
user_average.mean(axis=1)

Andrew       3.50
Brian        3.00
Christian    3.25
David        4.00
Edwin        2.80
dtype: float64

#### Each movie

In [45]:
movie_average = movie_rate
movie_average.mean(axis=0)

American Made                  3.50
Kingsman: The Golden Circle    3.50
The LEGO Ninjago Movie         3.75
Flatliners                     2.60
Blade Runner 2049              3.25
dtype: float64

### 3.Create a new pandas dataframe, with normalized ratings for each user.  Again, show the average ratings for each user and each movie.

#### Each user

In [77]:
normalization_user_average = (movie_rate - movie_rate.min())/ (movie_rate.max()-movie_rate.min())
normalization_user_average.mean(axis=1)

Andrew       0.583333
Brian        0.416667
Christian    0.500000
David        0.750000
Edwin        0.333333
dtype: float64

#### Each movie

In [85]:
normalization_movie_average = (movie_rate - movie_rate.min())/ (movie_rate.max()-movie_rate.min())
normalization_movie_average.mean(axis=0)

American Made                  0.500000
Kingsman: The Golden Circle    0.500000
The LEGO Ninjago Movie         0.583333
Flatliners                     0.533333
Blade Runner 2049              0.416667
dtype: float64

### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

There is a hard part to compare with other values in actual ratings. If the range of values is wider, it will become more difficult. A normalized rating can be compared with other values through the position of the current value between the maximum and minimum values by expressing the wide data range as 0 and 1.

### 5. Create another new pandas dataframe, with standardized ratings for each user.  Once again, show the average ratings for each user and each movie.

#### Each movie

In [92]:
movie_standardization =np.std(movie_rate)
movie_normalization = np.mean(movie_rate)
standardized_movie_rate=(movie_rate - movie_normalization)/movie_standardization
standardized_movie_rate.mean()

American Made                 -1.387779e-17
Kingsman: The Golden Circle    0.000000e+00
The LEGO Ninjago Movie         5.551115e-17
Flatliners                    -4.440892e-17
Blade Runner 2049              0.000000e+00
dtype: float64

#### Each user

In [93]:
standardized_movie_rate.mean(axis=1)

Andrew       0.242773
Brian       -0.237352
Christian   -0.058274
David        0.668693
Edwin       -0.492671
dtype: float64